*{
    background-color: black;    
   } 
   h1{
    color: beige;
    font-size: 30px;
    padding-left: 165px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
   }
   h2{
    color: beige;
    font-size: 25px;
    padding-left: 165px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
   }
   .tips{
    color: beige;
    font-size: 20px;
    padding-left: 165px;
   }
   
   .p1{
    color: beige;
    font-size: 30px;
    padding-left: 165px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
  form{
    color:#fff;
    font-size: 25px;
    padding-left:190px;
    }
    .checkbox1{
      width: 20px;
      height: 20px;
    }
    .form1{
      color: aliceblue;
      font-size: 18px;
      border: 0px;
      width: 1100px;
    }

    span{
      color: brown;
      font-size: 24px;
  }
  .button1{
    border:5px;
    
      color: #fff;
      font-size: 24px;
      padding-left: 740px;
      width: 10px;
      height: 20px;
  }
  .button2{
    padding-left: 10px;
       border: none;
      color: #fff;
      font-size: 24px;
      width: 10px;
      height: 20px;
  }
  
    
.checkbox{
  width: 20px;
  height: 20px;
}
.button{
  background-color: #fff;
}
